progress::-moz-progress-bar { background: red; }
progress::-webkit-progress-value { background: red; }
progress {
	color: red;
	background-color: #000;
	width: 100%;
}
b{
	font-weight: bolder;
}

html,body {
	/* font-family: Georgia, 'Times New Roman', Times, sand; */
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}